<div>
  <input type='text' id='issue-title' name='issue[title]' value="Title" />
</div>
<div>
  <textarea name='issue[body]'>Description</textarea>
</div>
<button type='submit' class='submit'><span class='glyphicon glyphicon-plus'></span></button>