<div>
  <input type='text' id='issue-title' name='issue[title]' placeholder="Title" />
</div>
<div>
  <textarea name='issue[body]' placeholder='Description'></textarea>
</div>
<button type='submit' class='submit'>Add to Github</span></button>