<input type='hidden' name="card[list_id]" value='<%= list.id %>' >
<input type='text' id='card-title' name="card[title]" value="Add New Card">

<button type='submit' class='submit'><span class='glyphicon glyphicon-plus'></span></button>
