.board-index {
  margin-left: 45px !important;
  min-height: 75px;
}

.contrib-board-index {
  margin-left: 45px !important;
  min-height: 75px;
}

.board-item {
  padding-left: 0;
  padding-right: 15px;
  border-radius: 3px !important;
  margin-bottom: 15px;
}

.board-item-title {
  color: white;
  padding-left: 5px;
  padding-top: 3px;
  margin-bottom: 3px;
  margin-top: 0;
}
#dashboard-canvas > div.row.board-index > div > div {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.board-item > div {
  color: #F8F8F8;
  padding-left: 10px;

}
.time {
  font-style: italic;
}

.board-repo-name {
  font-style: italic;
}
.board-show-header {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  margin-left: -10px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  width: 300px;
}

.board-show-header > h4 {
  margin-top: 0px;
}
