// Place all the styles related to the api/Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-index {
  min-height: 20px;
}

.card-display {
  padding: 10px !important;
  margin-bottom: 3px !important;
}

.card-title {
  margin: 0 !important;
  white-space: normal !important;
}

.cardform {
  margin-top: 15px;
}