// Place all the styles related to the api/issue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.issues {
  margin-left: 20px;
  margin-top: 20px;
  width: 35px;
  display:inline-block;
}

.issue-header {
  width: 110px;
}
.issue-title-text{
  margin: 0;
  display: inline;
  margin-right: 5px;
}
.add-issue {
  display: inline;
  float: right;
}