// Place all the styles related to the api/list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.list-form {
  margin-top: 10px;
}

.list-index {
  margin-left: 10px;
}
.list-index, .list-form, .list-display {
  display: inline-block;
  vertical-align: top;
}

.list-display {
  width: 260px;
  margin: 0 5px;
  max-height: 100%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;


}


.list-window {
  float: left;
  width: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow-x: scroll;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
  background-image: -webkit-linear-gradient(top, #E8E8E8, #F8F8F8);
  height: 90vh;

}
