<div class='add-board well-material-grey-900 col-md-4'>
  <input type='hidden' name="board[user_id]" value='<%= this.user.id %>'>
  <h3 class='board-form-title'>Track A Repository</h3>
    <select>
      <% repositories.each(function(repository){ %>
        <option value = "<%= repository.get('url')  + '=' + repository.id + '=' + repository.get('pushed_at') + '=' + repository.get('name') + '=' + repository.get('full_name') %>"> <%= repository.get('name') %> </option>
      <% }) %>
    </select>
  <div>
    <input type='text' id='board-title' name= "board[title]" placeholder='Enter a title...' />
    <button type='submit' class='submit' value=''><span class='edit-card glyphicon glyphicon-plus'></span></button>
  </div>
</div>

