
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-8'>
      <h3>Tracked Repositories</h3>
      <div class='board-index'></div>
      <div class='board-form'></div>
    </div>
    <div class='col-md-4'>
      <h3>All Issues</h3>
      <div class='issues-list'></div>
    </div>
  </div>
</div>

