
<h4 class='board-title'>
  <div><%= board.get('title') %> - <span><%= board.get('repository_name') %></span></div>
  <div>Updated: <span><%= moment(board.get('pushed_at')).fromNow() %></span></div>
</h4>
