<div class'board-show-header'>
  <div><h4><%= board.escape('title') %> - <span><%= board.escape('repository_name') %></span> <span class='edit-board glyphicon glyphicon-pencil'></h4></div>
  <div><h5>Updated: <em><span><%= moment(board.get('pushed_at')).fromNow() %></span></h5></em></div>
</div>

    <div class='list-window'>
      <div class='list-index'></div>
      <div class='list-form'></div> 
    </div>
    <div class='sidebar-window'>
      <h3 class='issue-title'>Issues <button class='issue-button'><span style='size: 10px;' class='add-issue glyphicon glyphicon-plus'></button></span></h3>
      <ul class='issue-index'></ul>
      <h3>Collaborators <button class='collab-button'><span style='size: 10px;' class='add-collab glyphicon glyphicon-plus'></span></button></h3>
      <div class='collab-index'></div>
      <h3>Contributers</h3>
      <div class='contrib-index'></div>
      <h3>Events</h3>
      <ul class='event-index'></ul>
      <div class='member-index'></div>
      <div class='collaborator-index'></div>
    </div>
