
<div id="setting">
  <div id="main">
    <h3> You've successfully logged in, to get started go to your repositories below</h3>
  </div>
</div>
<div id="footer">
</div>

<%= javascript_tag do %>
  $(function(){
    window.current_user_id = <%= current_user.id %>
    Catpus.initialize('after')
  });
<% end %>


