
<div id="main">
  <h3 class='landing-title'> You've successfully logged in, We are loading your Repositories and Issues</h3>
</div>


<%= javascript_tag do %>
  $(function(){
    window.current_user_id = <%= current_user.id %>
    Catpus.initialize('after')
    window.pusher = new Pusher("edff1e92c04899ef664d")
  });
<% end %>


