

<div id="main">
  <div id="landing" style= <%= "background-image: #{asset_path('officeimg.jpg')}" %> >
  <h1 class="title">A Visual Repository Management Tool</h1>
  <section class='homepage-section'>
    <p>Organize your repository workflow by creating tasks and timelines.</p>
    <p>Colloborate with contributers and see who is currently working on the directory.</p>
    <p>Create organizations to work on large projects.</p>
  </section>

  <% unless current_user %>
    <a class="btn btn-block btn-social btn-github" href="/auth/github/">
      <i class="fa fa-github"></i> Sign in with Github
    </a>
  <% end %>
  </div>  
</div>

<%= javascript_tag do %>
  $(function(){
    Catpus.initialize('before')
  });
<% end %>