/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";  
@import "bootstrap-social";

.issues-list {
  background-image: url("../images/octocat.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 85vh;
  overflow: scroll;
}

// Header

#landing {
  padding-top: 250px;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 90vh;
}

#landing > a {
  width: 185px;
  margin: 30px auto;
}

.landing-title {
  text-align: center;
  margin-top: 150px;
}
#main {
  margin-top: 45px;
  min-height: 90vh;

}

#footer {
  min-height: 45px;
  background-color: #000;
}



// Contributer Icons




.thumbnail {
  height: 40px;
  width: 40px;
  margin: 0;
  display: inline;
  padding: 0;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
ul {
  list-style: none;
  padding-left: 0;
}

.sidebar-window {
  width: 20%;
  float: right;
  height: 90vh;
}

.event-index {
  max-height: 30vh;
  overflow: auto;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #F8F8F8;
}

#landing > section {
  color: #F8F8F8;
}

.homepage-section {
  display: inline;
  text-align: center;
}


//Footer

#footer > footer > nav > a {
  display: inline;
  text-align: right;
}
#footer > footer > ul > li {
  margin-top: 7px;
}

#footer > footer > ul > li > a {
  padding-top: 0 !important;
}