 @import "bootstrap-sprockets";
 @import "bootstrap";

  .nav-li {
    a{
      padding: 0 !important;
    }
  }

  .nav-li {
    padding: 0 !important;
  }

  .container-fluid {
    height: 40px;
  }

  .navbar-header {
    height: 45px;
  }