 @import "bootstrap-sprockets";
 @import "bootstrap";


#catpus-icon {
  margin-top: 3px;
}

.thumbnail {
  height: 40px;
  width: 40px;
  margin: 0;
  display: inline;
  padding: 0;
}

.contrib-icon{
  height: 40px;
  width: 40px;
  display: inline;
}

.card-index {
  min-height: 20px;
}

.list-form {
  margin-top: 10px;
}

.issue-title {
  margin-top: 10px;
}

.event-index {
  height: 500px;
  overflow: auto;
}

.row-fluid{
  white-space: nowrap;
  overflow-x: auto;
}

.issue-index{
  list-style-type: none;
  padding-left: 0;
}

.event-index{
  list-style-type: none;
  padding-left: 0;
}

.contrib-index{
  list-style-type: none;
  padding-left: 0;
  max-height: 240px;
  overflow: auto;
}

.collab-index{
  max-height: 240px;
  overflow: auto;
}

.nav-li {
  a{
    padding: 0 !important;
  }
}

.nav-li {
  padding: 0 !important;
}



.navbar-header {
  height: 45px;
}