<input type='hidden' name="list[board_id]" value='<%= this.board.id %>' />
<input type='text' id='list-title' name= "list[title]" value='Add New List' />
<button type='submit' class='submit'><span class='glyphicon glyphicon-plus'></span></button>
