<h4 class='list-title'><%= list.escape('title') %> <span class='edit-list glyphicon glyphicon-pencil'></span><span class='delete-list glyphicon glyphicon-remove-sign'></span></h4>
  <div class='card-index'></div>
  <div class='card-form'></div>