<div id="footer">
  <footer>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-li btn btn-primary btn-sm"><%= link_to "Homepage", root_url %></li>
    <%#= link_to "About", about_page_url %>
    </ul>
  </footer>
</div>